<%= turbo_frame_tag dom_id(task) do %>
  <%= form_with model: task, data: { controller: "inline-edit" } do |form| %>
    <div>
      <%= form.text_field :name, data: { action: "keydown->inline-edit#submitForm", target: "inline-edit.input" } %>
    </div>
  <% end %>
<% end %>
