<div id="<%= dom_id project %>">
  <div>
    <strong>Name:</strong>
    <%= project.name %>
    <% if params[:id].to_i == project.id %>
      <ul>
        <%= render partial: "tasks/task", collection: @tasks %>
      </ul>
    <% end %>
  </div>
  <p>
    <%= link_to "Show this project", project %>
  </p>
</div>
